<%- include('partials/header') %>

    <body>
        <%- include('partials/navbar') %>

            <h1>Guia de Perguntas</h1>
            <hr>
            <h3>Ok.</h3>
    </body>

    <%- include('partials/footer') %>